/* random-letter effect */

@font-face 
{
    font-family: SpaceMono;
    src: url(/fonts/Space-Mono/SpaceMono-Regular.ttf);
}

body
{
    background-color: black;
}

#open-effect
{
    position: absolute;
    color: magenta;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: SpaceMono;
    font-size: 20px;
    white-space: nowrap;
    text-shadow: 0 2px 2px rgba(#000, 0.9);
}

