/**********type-writer effect ***********/


@font-face 
{
    font-family: SpaceMono;
    src: url(/fonts/Space_Mono/SpaceMono-Regular.ttf);
}

body
{
    padding: 40px;
    background-color: black;
}


#open
{
    font-family: SpaceMono;
    height: 200px;
    width: 400px;
    white-space: nowrap;
    overflow: hidden;
    font-size: 28px;
    color: magenta;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;

}

#border
{
    border-bottom: solid 3px;
    color: white;
    position: absolute;
    right: -7px;
    width: 20px;
}

/* Animation */

#open
{
    animation: animated-text 2s steps(30,end) 1s 1 normal both;
}

#border
{
    animation: animated-cursor 600ms steps(30,end) infinite;
}

/* Text Animation */

@keyframes animated-text 
{
    from{width: 0;}
    to{width: 320px;}    
}

/* Cursor animation */

@keyframes animated-cursor 
{
    from{border-bottom-color: white;}
    to{border-bottom-color: transparent}   
}